body {
    font-family: 'Special Elite', cursive;
    background: #0271fa;
}

.header_div {
    background: rgb(99, 250, 6);
    color: #f606fa;
}

.header_div p {
    font-family: 'Roboto', sans-serif;
    color: rgb(250, 4, 201);
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    bottom: 0;
    color: #eaf703;
    width: 100%;
    font-size: 18px;
    background-color: #6ffd09;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(252, 5, 5);
    /* To add horizontal,vertical,blur */
}